<ion-header translucent>
  <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
    <ion-title>PRO-TRIVAGO</ion-title>
  </ion-toolbar>
  <div id="tituloPagina">
    <ion-item color="medium" >
      <ion-label>
        Mis propiedades
      </ion-label>
    </ion-item>
  </div>
</ion-header>

<ion-content fullscreen>
  <div class="list-group users-list" scrollY="true">
    <div *ngFor="let item of items" (click)="goEdit(item.uid)">
      <div class="row">
        <div class="col col-md-8 text-col">
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <img
                  src= {{item.imagen}}
                />
              </ion-avatar>
              <ion-label>
                <h2>{{item.nombre}}</h2>
                <p class="truncade">{{item.descripcion}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
