<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PRO-TRIVAGO
    </ion-title>
  </ion-toolbar>
  <div id="tituloPagina">
    <ion-item color="medium" >
      <ion-label>
        Iniciar Sesión
      </ion-label>
    </ion-item>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="pagina">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form [formGroup]="loginForm">
          <div id="form" >
            <div class="form-group">
              <label>Correo: </label>
              <input type="email" formControlName="email" class="form-control">
            </div>
            <div class="form-group">
              <label>Clave: </label>
              <input type="password" class="form-control" formControlName="password">
              <label class="error">{{errorMessage}}</label>
            </div>
            <ion-button fill="outline" color="success" type="submit" shape= "round" 
          (click)="tryLogin(loginForm.value)">Ingresar</ion-button>
          </div>       
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p>No tiene usuario? <a href="/register">Crear una cuenta</a></p>
      </div>
    </div>
  </div>
</ion-content>

