  <ion-header translucent no-border>
    <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
    <ion-title>PRO-TRIVAGO</ion-title>
  </ion-toolbar>
  <div id="tituloPagina">
    <ion-item color="medium" >
      <ion-label>
        Propiedades
      </ion-label>
    </ion-item>
  </div>
  </ion-header>

<ion-content fullscreen>
  <ion-searchbar
    showcancelbutton=""
    (ionInput)="filterList($event)"
  ></ion-searchbar>

  <div class="list-group users-list" scrollY="true">
    <div *ngFor="let item of items" (click)="viewDetails(item)">
      <div class="row">
        <div class="col col-md-8 text-col">
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <img
                  src= {{item.payload.doc.data().imagen}}
                />
              </ion-avatar>
              <ion-label>
                <h2>{{item.payload.doc.data().nombre}}</h2>
                <p class="truncade">{{item.payload.doc.data().descripcion}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
